/* General Style Rule */
*{
    margin:auto;
    padding: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
/* Style Rule for Body and Container */
body{
    display: flex;
    justify-content: center;
    text-align: center;
    width:100%;
    background-image: url("images/background-mobile2.jpg");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-color: antiquewhite;
}
.container{
    background-color: #066e85;
    height: 300px;
    width:300px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(238, 232, 232, 0.8)
}
/* Style Rule for Main Content */
.header h1{
   background-color: antiquewhite;
   color:#066e85;
   border-radius: 10px;
   width: 200px;
   padding:5px;
   box-shadow: 4px 4px 4px rgba(6, 110, 133, 0.4);
   margin-bottom:20px;
   margin-top:20px;
   border: 1px solid #066e85;
   font-family: 'Quicksand', sans-serif;
   font-size: 20px;
}

.container .quote{
    line-height: 35px;
    padding:15px;
    padding-top:20px;
    width:300px;
    height:200px;
    color:antiquewhite;
    font-family: 'GFS Didot', serif;
    font-size: 25px;
    font-weight: 500;
}

.container .person{
    background-color: antiquewhite;
    padding:10px;
    font-size: 20px;
    color:#066e85;
    font-family: 'Libre Baskerville', serif;
    
    
}

.signature{
    margin-top:10px;
    font-size: 20px;
    font-family: 'Alex Brush', cursive;
    color:antiquewhite;
}
/* Style Rule for Button */
.btn{
    margin:20px 10px 10px 20px;
    padding: 10px;
    border-radius: 5px;
    font-family:'GFS Didot', serif ;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid antiquewhite;
    color: antiquewhite;
    box-shadow: 4px 4px 4px rgba(6, 110, 133, 1);

}

.btn-newquote{
    background-color: #066e85;
}

.btn-tweet-copy{
    background-color: antiquewhite;
}

.btn-tweet,.btn-copy{
    color:#066e85;
    width: 134.117px
}
.btn-tweet{
    margin-right: 5px;
    margin-top:50px;
}
.btn-text{
    padding-left: 10px;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    letter-spacing: 1.1px;

}

.btn:active{
    background-color: gray;
}
.fa-shake.slow{
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

/* Desktop Styles*/
@media (min-width: 768px) and (max-width: 1300px){

   body{
        height: 100vh;
        width:100vh;
        background: url("images/background.jpg") no-repeat center center / cover;
   }

   .header h1{
        font-size: auto;
        margin-top: 15px;
   }
   .container{
        height: 330px;
        width:500px;
   }

   .container .quote{
        line-height: 35px;
        padding:25px;
        padding-top:70px;
        width:500px;
        height:220px;
        font-size: 25px;
    }
    .container .person{
        padding:10px;
        font-size: 20px;
    }
    .signature{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top:10px;
    }
    .btn-tweet{
        margin-right: 50px;
        margin-top:30px;
    }
  }
